/* Base styles */
body {
    font-size: 18px;
    color: #333;
    background-color: #fff;
    margin: 0;

}

a,
.btn-link {
    color: #000;
    text-decoration: none;
}

a:hover,
a.btn-link:hover {
    color: #000;
    text-decoration: underline;
}

.container {
    background-color: #fff;
}

strong {
    font-size: 1.2rem;
}

/* Buttons */
.btn {
    border-radius: 0;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

/* Links */
.links a {
    color: #444;
    text-decoration: underline;
    margin: 0 0;
    transition: none;
}

.links a:hover,
.links a.active {
    color: #000;
    text-decoration: none;
    border-radius: none;
}

a:focus {
    outline: none;
}

/* Images */
.img-fluid {
    border: 1px solid #999;
}

.fancybox-image {
    border: 1px solid #ddd;
    background-color: #fff;
}

.fancybox-slideee {
    background-color: #ccc !important;
}

/* Thumbnail Size Wrapper */
#thumbnailSizeWrapper {
    font-size: 14px;
}

#thumbnailSizeWrapper select {
    border: 1px solid #ddd;
    padding: 0 10px;
}

#statement .words {
    background-color: #eee;
    border: 1px solid #ddd;
}



















/*Burger Menu*/

.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dark-blue-text {
    color: #0A38F5;
}

.dark-pink-text {
    color: #AC003A;
}

.dark-amber-text {
    color: #ff6f00;
}

.dark-teal-text {
    color: #004d40;
}


.dark-black-text {
    color: #222;
}


.navbar {
    width: 100%;
    padding: 0.5rem 0;
}




.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}